.container {
  display: flex;
  gap: 1.5rem;
  width: 95vw;
}

.panel-container {
  position: relative;
  height: 50rem;
  width: 8rem;
}

.panel {
  width: inherit;
  border-radius: 60px;
  height: inherit;
  object-fit: cover;
}

.img-text {
  color: white;
  position: absolute;
  z-index: 2;
  bottom: 30px;
  font-weight: bolder;
  left: 0;
  font-size: 1.5rem;
}

.panel-container.active {
  flex-grow: 1;

  & img {
    width: 100%;
  }
}

.hide {
  display: none;
}
